.care {
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 50px 0;

    @include tablet {
      row-gap: 20px;
      padding: 25px 0;
    }
  }

  &__title {
    @include h2-title;
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;

    @include desktop {
      column-gap: 15px;
      padding-inline: 20px;
    }

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      opacity: 0;
      transform: translateX(100px);
      animation: fadeIn 1s ease forwards;

      &:nth-child(1) {
        animation-delay: 0.25s;
      }

      &:nth-child(2) {
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        animation-delay: 0.75s;
      }

      &:nth-child(4) {
        animation-delay: 1s;
      }

      @include tablet {
        row-gap: 15px;
      }
    }

    &-img {
      overflow: hidden;
    }
  }

  &__img {
    @include desktop {
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.15);
      transition: transform .5s ease;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 270px;

    @include tablet {
      margin-inline: auto;
      text-align: center;
    }

    &-title {
      font-family: 'Montserrat SemiBold', sans-serif;
      font-size: 18px;
    }

    &-description {
      font-size: 14px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}