.request {
  background-color: #F7EBE5;
  padding: 75px 0;
  margin-bottom: 85px;

  @include desktop {
    padding: 65px 0;
    margin-bottom: 75px;
  }

  @include tablet {
    padding: 55px 0;
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @include desktop {
      row-gap: 45px;
    }
  }

  &__title {
    @include h2-title;
  }

  &__form {
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      @include tablet {
        row-gap: 15px;
      }
    }

    &-list {
      display: flex;
      justify-content: center;
      column-gap: 30px;
      padding-bottom: 40px;

      @include tablet {
        flex-direction: column;
        align-items: center;
      }
    }

    &-col {
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      @include tablet {
        row-gap: 0;
      }
    }

    &-textarea {
      border: 1px solid #EDEDF0;
      height: 139px;
      width: 370px;

      @include desktop {
        width: 300px;
      }
    }

    &-label {
      font-size: 14px;
    }

    &-button {
      text-align: center;
      margin-bottom: 25px;
    }

    &-btn {
      width: 250px;
      height: 50px;
      background-color: #E7426A;
      color: #fff;
      border: 1px solid #E7426A;
      border-radius: 5px;
      font-family: 'Montserrat SemiBold', sans-serif;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: #f45d82;
        border-color: #f45d82;
        transition-duration: var(--transition-duration);
      }
    }

    &-description {
      font-size: 12px;
      text-align: center;
    }

    &-link {
      color: #E7426A;
    }
  }

  &__col {
    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      @include tablet {
        row-gap: 15px;
      }
    }

    &-label {
      font-size: 14px;
    }

    &-input {
      width: 370px;
      height: 50px;
      border: 1px solid #EDEDF0;
      padding: 15px;
      font-size: 16px;

      @include desktop {
        width: 300px;
      }

      @include tablet {
        margin-bottom: 15px;
      }
    }
  }
}