.works {
  &__inner {
    padding: 50px 0;

    @include tablet {
      padding: 25px;
    }

    @include mobile {
      display: none;
    }
  }

  &__title {
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;

    @include desktop {
      font-size: 26px;
    }

    @include tablet {
      font-size: 24px;
      padding-bottom: 20px;
    }

    @include mobile {
      font-size: 20px;
    }
  }
}

.swiper {
  &__img {
    margin-inline: auto;
    border-radius: 35px;
  }
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;

  @include desktop {
    width: 5px;
    height: 5px;
  }
}

.swiper-pagination-bullet-active {
  background: #e7426a;
}

.swiper-button-prev, .swiper-button-next {
  color: #e7426a;

  &::after {
    font-size: 30px;

    @include desktop {
      font-size: 20px;
    }

    @include mobile {
      font-size: 15px;
    }
  }
}