:root {
  --color-light: #FFFFFF;
  --color-dark: #292929;
  --color-accent: #74CED2;
  --color-title: #01353E;

  --font-family-base: 'ProximaNova Regular';
  --container-width: 1150px;
  --container-padding-x: 10px;
  --section-padding-y: 100px;
  --transition-duration: 0.3s;

  --card-color: #FFDBC3;
  --card-skew-angel: -25deg;
  --card-transform-origin: top left;
}